<template>
  <div>
    <el-button @click="userLogout" class="logout-button">退出登录</el-button>
  </div>
</template>

<script setup>
import { logout } from '@/net'
import router from "@/router";

function userLogout() {
  logout(() => router.push("/"))
}
</script>

<style scoped>

.logout-button {
  margin-top: 20px;
  margin-left: 100px;
  width: 150px;
}

</style>
